<div class="pageheader majorsiteinfo">
	<div class="logospace majorsiteinfo">
		<a ui-sref="home">
			<img  class="img-responsive" src="images/icon_logo_medex_banner_caplet.svg" style="vertical-align:middle" />
		</a>
	</div>
	<div class="titlespace">Medicine Explorer</div>
</div>
<div class="searchspace">
	<div>
		<div style="float:left;"></div>
		<div style="float:right;">
			<div style="float:left;">
				<a id="advancedsearch" href="advancedsearch" class="btn btn-primary" style="white-space:normal;">Advanced Search</a>
			</div>
		</div>
		<div class="searchbar">
			<form novalidate class="simpleform" id="searchForm" ng-submit="update(search)">
				<div class="form-group has-feedback has-feedback-right">
					<input type="text" class="form-control" placeholder="Enter a drug name..." ng-model="search.value" />
					<i class="glyphicon glyphicon-search form-control-feedback"></i>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-md-3" ui-view="side-panel"></div>
  <div class="col-md-9" ui-view="content"></div>
</div>
<div class="footer majorsiteinfo">
	<div class="container-fluid">
		<div class="disclaimer">
			We're in beta! Medicine Explorer is a beta research project and not for clinical use.
		</div>
	</div>
</div>
