<div class="pageheader majorsiteinfo">
	<div class="logospace majorsiteinfo">
		<a ui-sref="home">
			<img class="img-responsive" src="images/icon_logo_medex_banner_caplet.svg" style="vertical-align:middle" />
		</a>
	</div>
	<div class="titlespace">Medicine Explorer</div>
</div>
<div class="searchspace">
	<div class="row">
		<div class="col-xs-0 col-sm-3"></div>
		<div class="searchbar col-xs-12 col-sm-9">
			<form novalidate class="simpleform" id="search-form" ng-submit="update(search)">
				<div class="form-group has-feedback has-feedback-right">
					<input id="search-field" type="text" class="form-control input-lg" placeholder="Enter a drug name..." ng-model="search.value" />
					<i class="glyphicon glyphicon-search form-control-feedback"></i>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div ui-view="side-panel"></div>
    <div ui-view="content"></div>
  </div>
</div>
<div class="footer majorsiteinfo">
	<div class="container-fluid">
		<div class="row">
			<div class="disclaimer col-xs-11">
				We're in beta! Medicine Explorer is a beta research project and not for clinical use.
			</div>
			<div class="col-xs-1">
				<a ui-sref="home.about" class="footerlink">About</a>
			</div>
		</div>
	</div>
</div>
