<div class="jumbotron container-fluid">
  <div>
    <h3>{{recallDetails.voluntary_mandated}}</h2>
    <h4>{{recallDetails.classification}} - 
      <span ng-show="recallDetails.classification == 'Class I'">Dangerous or defective product that predictably could cause serious health problems or death</span>
      <span ng-show="recallDetails.classification == 'Class II'">Product might cause a temporary health problem, or pose only a slight threat of a serious nature</span>
      <span ng-show="recallDetails.classification == 'Class III'">Product is unlikely to cause any adverse health reaction, but violates FDA labeling or manufacturing laws</span>
    </h4>
    <div class="row">
      <div class="col-md-2"/>
      <div class="col-md-4">Recall Reported: {{recallDetails.report_date | mmddyyyy_slashes}}</div>
      <div class="col-md=4">Recall Initiated: {{recallDetails.recall_initiation_date | mmddyyyy_slashes}}</div>
      <div class="col-md-2"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Product Description:</div>
    <div class="col-md-10">{{recallDetails.product_description}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Distribution Pattern:</div>
    <div class="col-md-10">{{recallDetails.distribution_pattern}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Amount:</div>
    <div class="col-md-10">{{recallDetails.product_quantity}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Reason for Recall:</div>
    <div class="col-md-10">{{recallDetails.reason_for_recall}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Package Identifiers:</div>
    <div class="col-md-10">{{recallDetails.code_info}}</div>
  </div>
</div>
