<div class="jumbotron container-fluid push-spaces" ng-init="drugs = [
		{name: 'Aceteminophen'},
		{name: 'Ibuprofen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},

		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},

		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},

		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'},
		{name: 'asdf'},
		{name: 'Aceteminophen'},
		{name: 'Aceteminophen'}
]">
	<p>The {{drugs.length}} most popular or trending topics.</p>
	<div class="row">
		<div class="col-md-3" ng-repeat="d in drugs track by $index">
			<a href="/#/search?value={{d.name}}">
			{{d.name}}
			</a>
		</div>
	</div>
</div>
